* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background: #fff;
    font-family: sans-serif;
    margin: 0;
    overflow-x: hidden;
    overflow-x: hidden;
    position: static !important;
    font-family: Actief Grotesque Medium, -apple-system, SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida 
}

.container {
    width: 1200px;
    margin: 0 auto;
    z-index: 99;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
.erreur-container {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    position: relative;
}

.erreur-container p {
    font-weight: bold;
}

.erreur-container ul {
    list-style: none;
    padding: 0;
}

.erreur-container li {
    margin-bottom: 5px;
}

.alert {
    position: fixed;
    z-index: 9999;
    width: 30%;
    color: #721c24;/* Couleur de fond de l'alerte */
    background-color: #F8D7DA; /* Couleur du texte de l'alerte */
    padding: 15px; /* Espacement intérieur de l'alerte */
    text-align: center;
    font-size: 15px;
    display: block; /* L'alerte est initialement masquée */
    animation: slideInUp 0.5s ease-out; /* Animation de glissement vers le haut */
}
.closeButton {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
.alert.valid{
    background-color: rgb(151, 242, 151);
}
.displayNone{
    display: none !important;
}
/* Animation de glissement vers le haut */
@keyframes slideInUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}
.message {
    width: 100%;
    color: #721c24;/* Couleur de fond de l'alerte */
    background-color: #F8D7DA; /* Couleur du texte de l'alerte */
    padding: 5px; /* Espacement intérieur de l'alerte */
    text-align: center;
    font-size: 12px;
    animation: slideInUp 0.5s ease-out; /* Animation de glissement vers le haut */
}
.message.valid{
    background-color: rgb(151, 242, 151);
    color: #17181a;
}
#messagejs{
    display: none;
}
/* Animation de glissement vers le haut */
@keyframes slideInUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}
.loader {
    border: 16px solid #f3f3f3; /* Gris clair pour la bordure du loader */
    border-top: 16px solid #3498db; /* Bleu pour la partie supérieure */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite; /* Animation de rotation infinie */
    display: none; /* Le loader est initialement masqué */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.text__center{
    text-align: center;
}

.text_deco_line{
    text-decoration: underline;
    font-weight: 500;
    color: #000;
}
.app {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    background: #17181a;
    
}

.home__bg {
    background-image: url('../images/bg.jpg') !important;
    height: 100%;
    opacity: 0.7;
    background-size: cover;
    background-repeat: no-repeat;
}

.fa-bars {
    display: none;
    position: absolute;
    color: #f7f9fa;
    right: 20px;
    top: 18px;
    z-index: 44;
    font-size: 25px;
    cursor: pointer;
}

.spinner .logo {
    position: fixed;
}

.logo a>span {
    font-size: 26px;
    color: #f7f9fa;
}

.logo {
    left: 20px;
    position: absolute;
    top: -38px;
    transition: opacity .4s ease;
    z-index: 42;
}

.logo__center{
    text-align: center;
    
}
.logo__center img{
    max-width: 300px; 
    min-width: 150px;
    width: 100%;
}

.nav__bar {
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    z-index: 41;
    transition: border-color .5s ease, opacity .4s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.divder {
    width: 22px !important;
    height: 22px;
    background-color: #f7f9fa;
    position: absolute;
    right: 20px;
    top: 3.55em;
    transform: rotate(45deg);
    display: none;
}

.nav__bar .nav__items {
    background: #fff;
    background-clip: border-box;
    background-clip: padding-box;
    border-radius: 5px;
    border: 1px solid rgba(23, 24, 26, .11);
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.nav__bar .nav__item {
    align-items: center;
    display: flex;
    border-right: 1px solid rgba(23, 24, 26, .11);
    flex-grow: 1;
    justify-content: center;
    transition: background-color .2s ease-out;
    min-height: 36px;
}

.nav__bar .nav__item:hover {
    background: #f7f9fa;
}

.nav__bar .nav__items .nav__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    outline: 0;
}

.nav__bar .nav__item .nav__label {
    font-family: Actief Grotesque Medium, -apple-system, SFNSText-Regular, San Francisco, Roboto, Segoe UI, Helvetica Neue, Lucida Grande, sans-serif;
    font-size: .875em;
    padding: 0 12px;
    text-decoration: none;
}


.nav_bar .nav__label {
    cursor: pointer;
    display: inline-block;
    height: auto;
    line-height: 2.375rem;
    position: relative;
    transition: color .2s ease-out;
}
.header {
    width: 100%;
    height: 70px;
    background-color: transparent;
}
.nav__item:hover>.nav__link>.nav__label {
    color: #17181a;
}
/* section home */
.home_container{
    display: flex;
    justify-content: center;
}
.home__grid{
    position:absolute;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    top: 25%;
  /*   width: 90%; */
}
.items__home__grid_left{
    padding: 50px 60px 0px 0px;
    max-height: 600px;
    overflow: scroll;
}
.items__home__grid_left h1 {
    color: #f7f9fa;
    font-size: 40px;
}
.items__home__grid_left p {
    color: #f7f9fa;
    font-weight: 200;
    font-size: 18px;
    margin:  10px 0 20px 0;
}
/* end section home */

/* form__login */
.items__home__grid_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tabs-container {
    position: relative;
    left: -25%;
    background-color: #ffffffdf;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 370px;
    border-bottom: 0.5px solid #aaaaaa;
    border-radius: 2px;
    z-index: 15;
    clear: both;
}
.tab {
    cursor: pointer;
    padding:  10px 20px;
    width: 100%;
    font-size: 18px;
    color: #17181a;
}
.tab.active {
    color: #333;
    border-bottom: 2.5px solid #aaa;
}

.form {
    position: relative;
    left: -25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffffdf;
    padding: 35px;
    border-radius: 2px;
    width: 100%;
    max-width: 300px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre 3D */
    z-index: 10;
}
.form input{
    background-color: #F5F5F5;
    width: 100%;
    padding: 10px 20px;
    height: 30px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    margin: 10px;
    outline: none;
}
.form .login__button{
    padding: 0px !important;
    background-color: #17181a;
    width: inherit;
    height: 54px !important;
    line-height: 42px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}

@media screen and (max-width: 1200px) {
    .home__grid{
        top:16% !important;
    }
}

/* end form__login */
@media screen and (max-width: 992px) {
    .fa-bars {
        display: block;
    }

    .nav__bar {
        background: #fff;
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, .1), 0 10px 30px 0 rgba(0, 0, 0, .2);
        left: 0;
        overflow: visible !important;
        position: absolute;
        top: 4em;
        width: 100%;
    }

    .items__home__grid_left{
        padding: 10px 20px;
        max-height: 600px;
        overflow: scroll;
    }

    .nav__bar .nav__items {
        display: none;
        width: 100%;
        flex-direction: column;
        height: 100%;
        position: relative;
        white-space: nowrap;
    }
    .tabs-container {
        left: 0 !important;
    }
    .form{
        width: -moz-available;
        left: 0 !important;
    }
    .home__grid{
        top: 15% !important;
    }

}


.tabcontent {
    display: none;
  }